<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=MonteCarlo&family=Sora:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar  navbar-expand-lg navbar-light" style="background-color: white;" id="navbarTop">
            <div class="container-fluid">
                <a class="navbar-brand border-light" asp-action="index" asp-controller="Home"><img src="~/img/logoDT - Horizontal - cores.png" class="img-change-1" /></a>
                <a class="navbar-brand border-light img-change-2" asp-action="index" asp-controller="Home"><img src="~/img/logoDT - Carimbo - branco - noText.png" style="max-width:100px;" /></a>
                <button class="navbar-toggler bg-color secret-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse col-lg-7 col-xl-5 " id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-current="page" asp-action="produtos" asp-controller="Home">sobre</a>
                        </li>                    
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-current="page" asp-action="produtos" asp-controller="Home">áreas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-action="produtos" asp-controller="Home">produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-current="page" asp-action="produtos" asp-controller="Home">personalizar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-current="page" asp-action="produtos" asp-controller="Home">sustentibilidade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-current="page" asp-action="produtos" asp-controller="Home">contactos</a>
                        </li>                
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-current="page" asp-action="produtos" asp-controller="Home">pt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer>
	    <div class="footer-text">
            <span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span>
        </div>
        <div class="form-area">
            <p class="footer-text-produto">vamos falar?</p>
            <form>
                <div class="row form-input">
                    <div class="col-sm-12 col-12">
                        <input type="email" class="form-control" placeholder="nome pessoa de contacto*">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <input type="text" class="form-control" placeholder="email*">
                    </div>
                    <div class="col-sm-12 col-md-6  ">
                        <input type="text" class="form-control" placeholder="contacto*">
                    </div>
                    <div class="col-sm-12 col-md-6  ">
                        <input type="text" class="form-control" placeholder="área-atividade">
                    </div>
                    <div class="col-sm-12 col-md-6  ">
                        <input type="text" class="form-control" placeholder="nome do estabelecimento">
                    </div>
                    <div class="col-12">
                        <textarea type="text" class="form-control big" placeholder="mensagem*"></textarea>
                    </div>
                </div>

                <div class="terms-send">
                    <div class="terms">
                        <button></button>
                        <p> Li e aceito o processamento dos meus dados <br /> pessoais de acordo com a Política de Privacidade</p>
                    </div>

                    <div class="send">
                        <p style="color: #d0d7ad">enviar</p>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="footer">
            <div class="f-i-a">
                <img src="img/logoDT - Carimbo - branco.png" alt="" class="logo-carimbo" style="max-width:130px;">
                <div class="socialMedia">
                    <img src="img/Facebook.png" alt="" style="max-width: 17px;">
                    <img src="img/Instagram.png" alt="" style="max-width: 17px;">
                    <img src="img/WhatsApp.png" alt="" style="max-width: 17px;">
                </div>
            </div>
            <p class="logo-text logo-p1">privacidade  .  cookies  .  litígios  .  livro de reclamações</p>
            <p class="logo-text logo-p2">Dress Table, Lda &copy; todos os direitos reservados . desenvolvido por Bomsite</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
