<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=MonteCarlo&family=Sora:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header">
        <nav id="nav">
            <div class="nav-container">
                <div class="n-bar row">
                    <div class="col-2 text-xl-left logo-col">
                        <a class="logo " asp-action="Index" asp-controller="Home">
                            <img src="~/img/logoDT - Horizontal - cores.png" class="logo-img responsive-img img-fluid "/>
                            <img src="~/img/logoDT - Horizontal - cores.png" class="logo-img responsive img-fluid"  />
                        </a>
                        <a class="logo back" asp-action="Index" asp-controller="Home">
                            <img src="~/img/logoDT - Carimbo - branco - noText.png" class="logo-img responsive-img img-fluid"/>
                            <img src="~/img/logoDT - Horizontal - cores.png" class="logo-img responsive img-fluid" />
                        </a>
                    </div>
                    <div class="col-10 justify-content-end align-items-center links">
                        <div class="d-flex justify-content-end">
                            <div class="menu d-flex" id="menu">
                                <div class="menu-item">
                                    <a class="item responsive-menu-item">
                                        sobre
                                    </a>
                                </div>                                
                                <div class="menu-item">
                                    <a class="item responsive-menu-item">
                                        áreas
                                    </a>
                                </div>                                
                                <div class="menu-item">
                                    <a asp-action="produtos" asp-controller="Home" class="item responsive-menu-item">
                                        produtos
                                    </a>
                                </div>                                
                                <div class="menu-item">
                                    <a class="item responsive-menu-item">
                                        personalizar
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="item responsive-menu-item">
                                        sustentabilidade
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="item responsive-menu-item">
                                        contactos
                                    </a>
                                </div>
                                <a class="flag">pt</a>
                            </div>
                            <div class="responsive-menu">
                                <button id="header_minimenu" class="navbar-toggler header-nav-menu d-lg-none" type="button" data-toggle data-target aria-controls aria-expanded="false" aria-label>
                                    <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 6H20M4 12H14M4 18H9" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 menu-responsive d-none" id="responsivemenucontent">
                    <div class="menu-item">
                        <a class="item responsive-menu-item">
                            sobre
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="item responsive-menu-item">
                            áreas
                        </a>
                    </div>
                    <div class="menu-item">
                        <a asp-action="produtos" asp-controller="Home" class="item responsive-menu-item">
                            produtos
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="item responsive-menu-item">
                            personalizar
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="item responsive-menu-item">
                            sustentabilidade
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="item responsive-menu-item">
                            contactos
                        </a>
                    </div>
                    <div class="cultures responsive-coltures">
						<a class="flag">
                            pt
                        </a>
                    </div>
                    
                </div>
            </div>
            <div class="close-header-menu-wrapper d-none" id="menu-close">
                <button id="close-header-menu" class="header-nav-menu navbar-toggler " type="button" data-toggle data-target aria-controls aria-expanded aria-label>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
					</svg>
                </button>
			</div>
        </nav>

        
    </header>
    <script>
        const headerElement = document.getElementById('header');
        const navElement = document.getElementById('nav');
        const menuElement = document.getElementById('menu');
        const responsiveElement = document.getElementById('responsivemenucontent');
        const buttonElement = document.getElementById('header_minimenu');
        const closeElement = document.getElementById('menu-close');

        window.addEventListener('scroll', function () {
            const scrollTop = window.scrollY;

            if (scrollTop > 20) {
                navElement.classList.add('scroll');
                menuElement.classList.remove('d-flex');
                menuElement.classList.add('d-none');
                buttonElement.classList.remove('d-lg-none');
                buttonElement.classList.add('d-block');
            } else {
                navElement.classList.remove('scroll');
                menuElement.classList.remove('d-none');
                menuElement.classList.remove('d-none');
                menuElement.classList.add('d-flex');
                buttonElement.classList.add('d-lg-none');
                buttonElement.classList.remove('d-block');
            }
        });

        buttonElement.addEventListener('click', function() {
            const width = window.innerWidth;


            if (width <= 991) {
                responsiveElement.classList.remove('d-none');
                headerElement.classList.add('white');
                buttonElement.classList.remove('d-block');
                buttonElement.classList.add('d-none');
                closeElement.classList.remove('d-none');
                closeElement.classList.add('d-block');
                menuElement.classList.add('p-3');
            }
            else {
                menuElement.classList.remove('d-none');
                menuElement.classList.add('d-flex');
                headerElement.classList.add('white');
                buttonElement.classList.remove('d-block');
                buttonElement.classList.add('d-none');
                closeElement.classList.remove('d-none');
                menuElement.classList.add('p-3');
            }
        });

        closeElement.addEventListener('click', function () {
            const width = window.innerWidth;


            if (width <= 991) {
                responsiveElement.classList.add('d-none');
                headerElement.classList.remove('white');
                buttonElement.classList.remove('d-none');
                buttonElement.classList.add('d-block');
                closeElement.classList.remove('d-block');
                closeElement.classList.add('d-none');
                menuElement.classList.remove('p-3');
            }
            else {
                menuElement.classList.add('d-none');
                menuElement.classList.remove('d-flex');
                headerElement.classList.remove('white');
                buttonElement.classList.remove('d-none');
                buttonElement.classList.add('d-block');
                closeElement.classList.remove('d-block');
                closeElement.classList.add('d-none');
                menuElement.classList.remove('p-3');
            }
        });

    </script>

    @RenderBody()
    <footer>
	    <div class="footer-text">
            <span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span><span style="margin-left: 30px">fale connosco .</span>
        </div>
        <div class="form-area">
            <p class="footer-text-produto">vamos falar?</p>
            <form>
                <div class="row form-input">
                    <div class="col-sm-12 col-12">
                        <input type="email" class="form-control" placeholder="nome pessoa de contacto*">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <input type="text" class="form-control" placeholder="email*">
                    </div>
                    <div class="col-sm-12 col-md-6  ">
                        <input type="text" class="form-control" placeholder="contacto*">
                    </div>
                    <div class="col-sm-12 col-md-6  ">
                        <input type="text" class="form-control" placeholder="área-atividade">
                    </div>
                    <div class="col-sm-12 col-md-6  ">
                        <input type="text" class="form-control" placeholder="nome do estabelecimento">
                    </div>
                    <div class="col-12">
                        <textarea type="text" class="form-control big" placeholder="mensagem*"></textarea>
                    </div>
                </div>

                <div class="terms-send">
                    <div class="terms">
                        <button></button>
                        <p> Li e aceito o processamento dos meus dados <br /> pessoais de acordo com a Política de Privacidade</p>
                    </div>

                    <div class="send">
                        <p style="color: #d0d7ad">enviar</p>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="footer">
            <div class="f-i-a">
                <img src="img/logoDT - Carimbo - branco.png" alt="" class="logo-carimbo" style="max-width:130px;">
                <div class="socialMedia">
                    <img src="img/Facebook.png" alt="" style="max-width: 17px;">
                    <img src="img/Instagram.png" alt="" style="max-width: 17px;">
                    <img src="img/WhatsApp.png" alt="" style="max-width: 17px;">
                </div>
            </div>
            <p class="logo-text logo-p1">privacidade  .  cookies  .  litígios  .  livro de reclamações</p>
            <p class="logo-text logo-p2">Dress Table, Lda &copy; todos os direitos reservados . desenvolvido por Bomsite</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
