@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

 
<main>
    <div class="top-section row">
        <div class="text-part col-12 col-lg-8 col-xl-7">
            <div class="top-text-area">
                <p class="p1">hotel & restaurant supplies</p>
                <div class="area-p2">
                    <p class="p2"> <em>vestimos</em> 
                        mesas com
                    </p>
                </div>
                <p class="p3">Elegância</p>
            </div>
            <div class="bottom-text-area">
                <p class="explain-text">
                    A Dress Table foca-se na produção <br/>
                    de produtos para personalizados para <br/>
                    promover e elevar o seu <strong>RESTAURANTE</strong>, <br/>
                    <strong>HOTEL</strong> e serviço de <strong>CATERING</strong> , com <br/>
                    total qualidade e elegância. </p>
            </div>
        </div>
        <div class="img-part col-12 col-lg-4 col-xl-5">
                <div id="carouselExampleSlidesOnly" class="carousel carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="~/img/flat-lay-dark-dinnerware-with-chopsticks-napkin_23-2148798064.jpg" class="d-block" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="~/img/minimal-white-table-assortment.jpg" class="d-block" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="~/img/top-view-dining-tables-without-food.jpg" class="d-block" alt="...">
                        </div>
                    </div>
                </div>
        </div>
        <div class="bottom-text hidde col-12">
            <p class="exp-text">
                A Dress Table foca-se na produção de produtos para personalizados para promover e <br /> elevar o seu <strong>RESTAURANTE</strong>,
                <strong>HOTEL</strong> e serviço de <strong>CATERING</strong>, com total qualidade e elegância.
            </p>
        </div>
    </div>
   
    <div class="main-section">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 main-text-area">
                <h5>produtos personalizados</h5>
                <h2>
		    		elevar a sua <br /> marca em <br /> cada detalhe
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 cards">
                <div class="cartao">
                    <div class="txt-card">
                        <h3 class="titulo">bolsa talheres e acessórios</h3>
                        <h4 class="exp">
                            artigos descartáveis e acessórios por
                            medida, em diferentes materiais e
                            modelos total mente personalizáveis
                        </h4>
                    </div>
                    <img src="img/donaBia.jpg" class="card-img" alt="...">
                    <div class="hide">&#8599;</div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 cards up up-res">
                <a asp-action="produtos" asp-controller="Home">
                    <div class="cartao">
                        <div class="txt-card">
                            <h3 class="titulo">guardanapos descartaveis</h3>
                            <h4 class="exp">
                                vasta variedade de modelos, em diferente
                                tipos de materiais descartáveis, do P&P ao
                                materiais da gama tecido-nào-tecido
                            </h4>
                        </div>
                        <img src="img/guardanapo0.jpg" class="card-img" alt="...">
                        <div class="hide">&#8599;</div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 cards">
                <div class="cartao">
                    <div class="txt-card">
                        <h3 class="titulo">toalhas de mesa  anti-nódoa</h3>
                        <h4 class="exp">
                            com confeçào própria, produzidas po
                            medida, em tecido anti-nódoa resinado
                            permitindo uma limpeza fácil
                        </h4>
                    </div>
                    <img src="img/toalhaMesa.jpg" class="card-img" alt="...">
                    <div class="hide">&#8599;</div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 cards up-res">
                <div class="cartao">
                    <div class="txt-card">
                        <h3 class="titulo"> caminhos de  mesa - runners</h3>
                        <h4 class="exp">
                            confecionados por medida, personalizáveis
                            em diferentes tipos de materiais descartávei    
                            ou em tecido anti-módoa resinado
                        </h4>
                    </div>
                    <img src="img/caminhoMesa.jpg" class="card-img" alt="...">
                    <div class="hide">&#8599;</div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 cards up">
                <div class="cartao">
                    <div class="txt-card">
                        <h3 class="titulo">acessórios de <br /> mesas e ementas</h3>
                        <h4 class="exp">
                            vasta gama de ementas-menus e acessórios <br>
                            adicionais de mesa, em diferentes materiais <br>
                            e modelos, personalizados com a sua marca
                        </h4>
                    </div>
                    <img src="img/cardapioMesa.jpg" class="card-img" alt="...">
                    <div class="hide">&#8599;</div>
                </div>
                <div class="d-xl-block d-none vermais">
                    <a class="btn btn-primary btn-mais">mais produtos</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 cards up-res">
                <div class="cartao">
                    <div class="txt-card">
                        <h3 class="titulo">individuais <br /> de mesa</h3>
                        <h4 class="exp">
                            soluções de individuais de mesa, de <br>
                            fácil limpeza e de grande resistência, <br>
                            para uma utilização profissional
                        </h4>
                    </div>
                    <img src="img/individuaisMesa.jpg" class="card-img" alt="...">
                    <div class="hide">&#8599;</div>
                </div>
            </div>
			<div class="col-12">
                <div class="mt-5 d-xl-none align-text-center ver-mais">
                    <a class="btn btn-primary btn-mais">mais produtos</a>
                </div>
            </div>
        </div>
        
        <div class="area">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="img-block">
                        <div class="block-img">
                            <img src="img/areaAtuamos.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                <div class="area-content">
                    <div class="content-area">
                        <h3 class="content-title">áreas que atuamos</h3>
                        <div class="content-text">
                            <p>retauração</p>
                            <p>hotelaria</p>
                            <p>catering-eventos</p>
                            <p>horeca</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

<!--
    <div class="area-atuamos">
        <div class="atuamos-image">
            <img src="img/areaAtuamos.jpg" />
        </div>
        <div class="atuamos-text">
            <p class="atuamos-p1">. áreas que atuamos</p>
            <p class="atuamos-p2">restauração <br /> hotelaria <br /> catering-eventos <br /> horeca</p>
        </div>
    </div>
-->
</main>
    
