@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/produtos.css" asp-append-version="true" />
</head>

<body>
    <header>
		<div class="image-header-container"></div>        
        <div class="header-text-area">
            <div class="p2">guardanapos</div>
            <div class="p3">descartaveis</div>
            <div class="p4">Produtos</div>
            <div class="sec-text-area">
                <p>
                    vasta variedade de modelos, em diferentes <br>
                    tipos de materiais descartáveis, do P&P aos <br>
                    materiais da gama tecido-não-tecido
                </p>
                <p style="margin-top: 50px;">
                    Dispomos de uma vasta variedade de modelos de guardanapos, em <br>
                    diferentes tipos de materiais descartáveis. A nossa gama vai desde o comum <br>
                    guardanapo P&P e P&P reciclado, aos materiais em airlaid, Spunlace, <br>
                    Cottontex, entre outros na gama dos Tecido-nào-tecido.
                </p>
                <p>
                    Dedicamos em especial á personalização de logotipos ou padrões escolhidos <br>
                    pelos clientes de forma a dar relevância às suas marcas.
                </p>
            </div>
        </div>
    </header>

    <main>
        <div class="row main-card-area" style="margin-left: 5%; margin-top: 40px;">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="margin: 0px; padding: 0px; width: 400px; height: 400px;">
                <div class="card border-secondary" style="width: 350px; border-radius: 20px;">
                    <img src="img/guardanapo1.jpg" class="card-img-top card-image" alt="..." style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="margin: 0px; padding: 0px; width: 400px; height: 400px;">
                <div class="card border-secondary" style="width: 350px; border-radius: 20px;">
                    <img src="img/guardanapo2.jpg" class="card-img-top card-image" alt="..." style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="margin: 0px; padding: 0px; width: 400px; height: 400px;">
                <div class="card border-secondary" style="width: 350px; border-radius: 20px;">
                    <img src="img/guardanapo3.jpg" class="card-img-top card-image" alt="..." style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="margin: 0px; padding: 0px; width: 400px; height: 400px;">
                <div class="card border-secondary" style="width: 350px; border-radius: 20px;">
                    <img src="img/donaBia.jpg" class="card-img-top card-image" alt="..." style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="margin: 0px; padding: 0px; width: 400px; height: 400px;">
                <div class="card border-secondary" style="width: 350px; border-radius: 20px;">
                    <img src="img/guardanapo5.jpg" class="card-img-top card-image" alt="..." style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="margin: 0px; padding: 0px; width: 400px; height: 400px;">
                <div class="card border-secondary" style="width: 350px; border-radius: 20px;">
                    <img src="img/guardanapo6.jpg" class="card-img-top card-image" alt="..." style="border-radius: 20px;">
                </div>
            </div>
        </div>

        <div class="ecoCard-big">
            <div class="card text-bg-dark ecoCard" style="border-radius: 30px;">
                <img src="img/closeup-lindas-folhas-verdes.jpg" class="card-img ecoCard-img" alt="..." style="border-radius: 30px; width: 1200px; height: 350px;">
                <div class="card-img-overlay ecoCard-text-Area" style="margin-left: 50px;">
                    <p class="card-text ecoCard-p1" style="color: whitesmoke;font-size: 50px;">produto</p>
                    <p style="color: whitesmoke;font-size: 50px;margin-top: -50px;">sustentável</p>
                    <h5 class="card-title ecoCard-h5" style="color: #d1d7ad; font-family: MonteCarlo; font-size: 100px;margin-top: -80px;">eco-friendly</h5>
                    <p class="card-text ecoCard-p2" style="font-size: 15px; color: whitesmoke; font-family: Sora;">
                        Honramos a responsabilidade e compromisso pela sua saúde e pela <br>
                        sustentabilidade do nosso planeta. Os nossos produtos são certificados, <br>
                        e reciclados, garantindo a personalização por recurso a impressão com <br>
                        tintas alimentares livres de substâncias altamente tóxicas.
                    </p>
                </div>
            </div>
        </div>
        <div class="ecoCard-mini" style="margin-left: 50px;">
            <p class="ecoCard-p1" style="font-size: 50px;">produto</p>
            <p style="font-size: 50px;margin-top: -50px;">sustentável</p>
            <h5 class="ecoCard-h5" style="color: #d1d7ad; font-family: MonteCarlo; font-size: 100px;margin-top: -80px;">eco-friendly</h5>
            <p class="ecoCard-p2" style="font-size: 15px;  font-family: Sora;">
                Honramos a responsabilidade e compromisso pela sua saúde e pela <br>
                sustentabilidade do nosso planeta. Os nossos produtos são certificados, <br>
                e reciclados, garantindo a personalização por recurso a impressão com <br>
                tintas alimentares livres de substâncias altamente tóxicas.
            </p>
        </div>
    </main>
</body>