@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/produtos.css" asp-append-version="true" />
</head>

<body>

    <main>
        <!--
        <div class="image-header-container"></div>
        <div class="header-text-area">
            <div class="p2">guardanapos</div>
            <div class="p3">descartaveis</div>
            <div class="p4">Produtos</div>
            <div class="sec-text-area">
                <p>
                    vasta variedade de modelos, em diferentes <br>
                    tipos de materiais descartáveis, do P&P aos <br>
                    materiais da gama tecido-não-tecido
                </p>
                <p style="margin-top: 50px;">
                    Dispomos de uma vasta variedade de modelos de guardanapos, em <br>
                    diferentes tipos de materiais descartáveis. A nossa gama vai desde o comum <br>
                    guardanapo P&P e P&P reciclado, aos materiais em airlaid, Spunlace, <br>
                    Cottontex, entre outros na gama dos Tecido-nào-tecido.
                </p>
                <p>
                    Dedicamos em especial á personalização de logotipos ou padrões escolhidos <br>
                    pelos clientes de forma a dar relevância às suas marcas.
                </p>
            </div>
        </div>
        <div class="row main-card-area" style="margin-left: 5%; margin-top: 40px;">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="margin: 0px; padding: 0px; width: 400px; height: 400px;">
                <div class="card border-secondary" style="width: 350px; border-radius: 20px;">
                    <img src="img/guardanapo1.jpg" class="card-img-top card-image" alt="..." style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="margin: 0px; padding: 0px; width: 400px; height: 400px;">
                <div class="card border-secondary" style="width: 350px; border-radius: 20px;">
                    <img src="img/guardanapo2.jpg" class="card-img-top card-image" alt="..." style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="margin: 0px; padding: 0px; width: 400px; height: 400px;">
                <div class="card border-secondary" style="width: 350px; border-radius: 20px;">
                    <img src="img/guardanapo3.jpg" class="card-img-top card-image" alt="..." style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="margin: 0px; padding: 0px; width: 400px; height: 400px;">
                <div class="card border-secondary" style="width: 350px; border-radius: 20px;">
                    <img src="img/donaBia.jpg" class="card-img-top card-image" alt="..." style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="margin: 0px; padding: 0px; width: 400px; height: 400px;">
                <div class="card border-secondary" style="width: 350px; border-radius: 20px;">
                    <img src="img/guardanapo5.jpg" class="card-img-top card-image" alt="..." style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="margin: 0px; padding: 0px; width: 400px; height: 400px;">
                <div class="card border-secondary" style="width: 350px; border-radius: 20px;">
                    <img src="img/guardanapo6.jpg" class="card-img-top card-image" alt="..." style="border-radius: 20px;">
                </div>
            </div>
        </div>


        -->

        <div class="top-section">
            <div class="header-text-area">
                <span class="rotate r-1">voltar ^</span>

				<div class="p2">guardanapos <br />descartáveis</div>
                <div class="p4">Produtos</div>
                <div class="sec-text-area">
                    <p class="s-t-a-1">
                        vasta variedade de modelos, em diferentes <br>
                        tipos de materiais descartáveis, do P&P aos <br>
                        materiais da gama tecido-não-tecido <span>
                            partilhe      
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3" />
                            </svg>
                        </span>
                    </p>
                    <span class="rotate r-2">
                        « scrool
                    </span>
                    <p class="s-t-a-2">
                        Dispomos de uma vasta variedade de modelos de guardanapos, em <br>
                        diferentes tipos de materiais descartáveis. A nossa gama vai desde o comum <br>
                        guardanapo P&P e P&P reciclado, aos materiais em airlaid, Spunlace, <br>
                        Cottontex, entre outros na gama dos Tecido-não-tecido.
                    </p>
                    <p class="s-t-a-3">
                        Dedicamos em especial á personalização de logotipos ou padrões escolhidos <br>
                        pelos clientes de forma a dar relevância às suas marcas.
                    </p>
                </div>
            </div>
            <div class="top-img">
                <img src="~/img/minimal-white-table-assortment.jpg"/>
            </div>
        </div>

        <div class="row main-card-area">
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <img src="img/guardanapo1.jpg" class="card-img-top card-image" alt="...">
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <img src="img/guardanapo2.jpg" class="card-img-top card-image" alt="...">
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <img src="img/guardanapo3.jpg" class="card-img-top card-image" alt="...">
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <img src="img/donaBia.jpg" class="card-img-top card-image" alt="...">
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <img src="img/guardanapo5.jpg" class="card-img-top card-image" alt="...">
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <img src="img/guardanapo6.jpg" class="card-img-top card-image" alt="...">
            </div>
        </div>

        <div class="ecoCard-big">
            <div class="card text-bg-dark ecoCard" style="border-radius: 30px;">
                <img src="img/closeup-lindas-folhas-verdes.jpg" class="card-img ecoCard-img" alt="..." style="">
                <div class="card-img-overlay ecoCard-text-Area">
                    <p class="card-text ecoCard-p1">produto <br />sustentável </p>
                    <p class="card-title ecoCard-h5">eco-friendly</p>
                    <p class="card-text ecoCard-p2">
                        Honramos a responsabilidade e compromisso pela sua saúde e pela <br>
                        sustentabilidade do nosso planeta. Os nossos produtos são certificados, <br>
                        e reciclados, garantindo a personalização por recurso a impressão com <br>
                        tintas alimentares livres de substâncias altamente tóxicas.
                    </p>
                </div>
            </div>
        </div>
        <div class="ecoCard-mini" style="margin-left: 50px;">
            <p class="ecoCard-p1" style="font-size: 50px;">produto</p>
            <p style="font-size: 50px;margin-top: -50px;">sustentável</p>
            <h5 class="ecoCard-h5" style="color: #d1d7ad; font-family: MonteCarlo; font-size: 100px;margin-top: -80px;">eco-friendly</h5>
            <p class="ecoCard-p2" style="font-size: 15px;  font-family: Sora;">
                Honramos a responsabilidade e compromisso pela sua saúde e pela <br>
                sustentabilidade do nosso planeta. Os nossos produtos são certificados, <br>
                e reciclados, garantindo a personalização por recurso a impressão com <br>
                tintas alimentares livres de substâncias altamente tóxicas.
            </p>
        </div>
    </main>
</body>