.bona-nova-regular {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: normal;
}
.bona-nova-regular-italic {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: italic;
}
.bona-nova-bold {
    font-family: "Bona Nova", serif;
    font-weight: 700;
    font-style: normal;
}
.sora {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.montecarlo-regular {
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
}

p{
    color: #8699a3;
}


