.form-area {
    display: none;
}

.top-section {
    display: flex;
    height: 1085px;
}


.header-text-area {
    height: 600px;
    width: 600px;
    position: relative;
}

    .top-text-area p {
        z-index: 10;
        position: relative;
    }

.p1 {
    font-family: Bona Nova;
    font-size: 20px;
    color: #8699a3;
    position: relative;
    top: 190px;
    left: 160px;
}

.p2 {
    font-family: Bona Nova;
    font-style: italic;
    color: #8699a3;
    font-size: 95px;
    position: relative;
    top: 190px;
    left: 160px;
}

.p3 {
    font-family: Bona Nova;
    color: #8699a3;
    font-size: 130px;
    position: relative;
    top: 100px;
    left: 160px;
}

.p4 {
    font-family: MonteCarlo;
    font-size: 185px;
    color: #d1d7ad;
    position: relative;
    left: 225px;
    top: -55px;
}

.bottom-text-area {
    width: 300px;
    height: auto;
    margin: 0px;
    position: relative;
    left: 160px;
    top: 170px;
}

.explain-text {
    font-size: 14px;
    position: relative;
    top: 20px;
    font-family: 'Sora';
    line-height: 1.3;
}

    .explain-text strong {
        color: #4c5b63;
    }

.img-part{
    position: relative;
    left: 85px;
    top: 85px;
    z-index: 0;
}

.img-part img {
    width: 650px;
    height: 1000px;
    border-radius: 20px;
    object-fit: cover;    
}

.main-section {
    margin: 155px 160px;
}


.main-p1 {
    font-family: Bona Nova;
    font-size: 20px;
    line-height: 2.5;
}

.main-p2 {
    font-family: Sora;
    font-size: 50px;
    line-height: .9;
}

.main-card-area {
    left: 100px;
    margin-top: 80px;
    margin-bottom: 50px;
}

main .card-body {
    text-align: start;
}

.main-card-area .card-title {
    font-size: 35px;
    color: #8699a3;
    font-family: Bona Nova;
}

.card {
    width: 370px;
    text-decoration: none;
}

main .card-image {
    border-radius: 20px;     
    height: 500px;
    object-fit: cover;
}

.main-card-area .move {
    position: relative; 
    top: -165px;
}

.hide {
    font-size: 35px;
    width: 55px;
    height: 55px;
    background-color: #d1d7ad;
    border-radius: 50%;
    position: absolute;
    top: 165px;
    right: 15px;
    display: none;
    color: black;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover > .hide {
    display: block;
}

.card:hover > .card-image {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card:hover > .main-card-area .card-title {
    color: black;
}

.btn-mais {
    position: relative;
    left: 490px;
    top: -150px;
    width: 200px;
    border-radius: 16px;
    height: 60px;
}

.area-atuamos {
    display: flex;
    gap: 80px;
}

.area-atuamos img {
    width: 600px;
    height: 470px;
    border-radius: 20px;
    object-fit: cover;  
}

.atuamos-p1 {
    position: relative;
    top: 100px;
    font-size: 20px;
    font-family: Bona Nova;
}

.atuamos-p2 {
    position: relative;
    top: 100px;
    font-size: 60px;
    line-height: .9;
    font-family: Bona Nova;
}


footer {
    height: 675px;
}

.footer {
    left: 700px;
    top: 255px;
}


@media (min-width: 320px) and (max-width: 1024px) {

    .p1 {
        left: 30px;
        font-size: 15px;
    }

    .p2 {
        font-size: 85px;
        left: 5%;
    }

    .p3 {
        font-size: 112px;
        left: 5%;
        top: 155px;
        line-height: .5;
    }

    .p4 {
        font-size: 100px;
        left: 5%;
        top: 120px;
    }

    .explain-text {
        left: -140px;
    }
}
@media (min-width: 320px) and (max-width: 1440px) {
    .top-section {
        height: 600px;
    }



    .main-section {
        margin: 190px 5%;
    }

    .main-p2 {
        font-size: 45px;
    }

    main .card-image {
        width: 75%;
        height: 400px;
        margin-left: 10px;
    }

    .main-card-area .move {
        top: 0;
    }

    main .card-body {
        width: 290px;
        font-size: 13px;
    }

    .btn-mais {
        top: 0;
        left: 45px;
    }

    .area-atuamos img {
        display: none;
    }

    .atuamos-p2 {
        font-size: 50px;
    }

    .atuamos-text {
        position: relative;
        left: -55px;
    }
}

@media (min-width: 375px) and (max-width: 1024px) {
    .p2, .p3, .p4 {
        left: 10%;
    }

    .explain-text {
        left: -110px;
    }

    .explain-text {
        left: -110px;
    }
}
@media (min-width: 375px) and (max-width: 1440px) {
    .main-section {
        margin-left: 10%;
    }
}

@media (min-width: 425px) and (max-width: 1440px) {
    .img-part img {
        opacity: 0;
    }

    main .card-image {
        width: 90%;
    }

    main .card-body {
        font-size: 15px;
    }

    .atuamos-p2 {
        font-size: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .img-part img {
        opacity: 1;
    }

    .main-section {
        margin-top: 290px;
    }

    .main-card-area {
        padding: 0px 100px;
    }

    main .card-body {
        width: 330px;
    }

    main .card-image {
        width: 100%;
    }

    .btn-mais {
        left: 190px;
    }

    .area-atuamos img {
        display: inherit;
        height: 330px;
        width: 345px;
    }

    .atuamos-image {
        position: relative;
        top: 90px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .main-card-area {
        padding: 0;
    }

    .btn-mais {
        left: 310px;
    }

    .p3 {
        top: 140px;
        line-height: .5;
    }

    .p4 {
        top: 0;
    }

    .top-section {
        height: 800px;
    }

    .btn-mais {
        left: 490px;
    }
}

@media (min-width: 1440px) and (max-width: 1516px) {
    .main-section {
        margin-left: 120px;
        margin-right: 120px;
    }
}