.footer-text {
    display: none;
}


.top-section {
    display: flex;
    margin-top: 75px;
    margin-left: 160px;
}

.top-img {
    position: relative;

}

    .top-img img {
        width: 530px;
        height: 650px;
        border-radius: 16px;
        object-fit: cover;
        position: relative;
        left: 120px;
    }

.rotate {
    position: absolute;
    left: 17px;
    transform: rotateZ(270deg);
    font-size: 15px;
    color: #8699a3;
}

.r-1 {
    position: absolute;
    top: 190px;
}

.r-2 {
    position: absolute;
    top: 570px;
}


.p2 {
    font-family: Bona Nova;
    color: #8699a3;
    font-size: 80px;
    line-height: 1;
    position: relative;
    top: 50px;
}

.p4 {
    font-family: MonteCarlo;
    font-size: 125px;
    color: #d1d7ad;
    position: relative;
    top: -30px;
    left: 120px;
}

.s-t-a-1 {
    font-size: 20px;
    line-height: 1;
}

    .s-t-a-1 span {
        font-size: 15px;
        position: relative;
        left: 180px;
    }

.s-t-a-2 {
    position: relative;
    top: 55px;
}

.s-t-a-3 {
    position: relative;
    top: 55px;
}

main .main-card-area {
    margin: 130px 160px;
    gap: 14px !important;
}

main .col {
    width: 390px;
    height: 380px;
    padding: unset;

}

main .card-image {
    width: 390px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
}


.ecoCard {
    height: 415px;
    margin: -14px 160px;
    margin-bottom: 165px;


}

.ecoCard-p1 {
    font-family: Bona Nova;
    font-size: 60px;
    line-height: .9;
    position: absolute;
    top: 60px;
    left: 165px;
    color: white;
}

.ecoCard-h5 {
    font-family: MonteCarlo;
    font-size: 130px;
    position: absolute;
    top: 90px;
    left: 100px;
    color: white;
}

.ecoCard-p2 {
    line-height: 1.1;
    position: absolute;
    top: 300px;
    left: 90px;
    color: white;
    font-family: Sora;
    font-size: 15px;
}



main .ecoCard-img {
    border-radius: 30px;
    height: 415px;
}

.ecoCard-mini {
    margin: 30px 0;

    display: none;
}

.ecoCard-mini .eC-t-A{
    padding: 10px;
}

.ecoCard-mini .eC-p1 {
    font-family: Bona Nova;
    font-size: 60px;
    line-height: .9;
    top: 65px;
}

.ecoCard-mini .eC-h5 {
    font-family: MonteCarlo;
    font-size: 75px;
    position: relative;
    top: -50px;
}

.ecoCard-mini .eC-p2 {
    line-height: 1.1;
    position: relative;
    top: -40px;
    font-family: Sora;
    font-size: 14px;
}

@media (min-width: 320px) and (max-width: 1023px) {

    footer {
        height: 1350px;
    }

    .logo-text {
        left: -680px;
    }

    .top-section {
        margin-left: 15px;
    }

    .rotate, .s-t-a-1 span {
        display: none;
    }

    .p2 {
        font-size: 52px;
    }

    .p4 {
        font-size: 91px;
        top: -10px;
        left: 0;
    }

    .s-t-a-1 {
        font-size: 15px;
    }

    .s-t-a-2, .s-t-a-3 {
        top: 0px;
        font-size: 15px;
        line-height: 1;
    }

    main .main-card-area {
        margin: 0px 10px;
    }

    main .card-image {
        width: 300px;
    }

    .ecoCard-big {
        display: none;
    }

    .ecoCard-mini {
        display: block;
    }
}

@media (min-width: 425px) and (max-width: 1023px) {
    .top-section {
        margin-left: 55px;
    }

    main .main-card-area {
        margin: 0px 50px;
    }

    main .card-image {
        width: 325px;
    }

    .ecoCard-mini .eC-t-A {
        padding: 10px 48px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .top-img img {
        width: 350px;
        left: 25px;
    }

    .sec-text-area {
        width: 300px;
    }

    .top-section {
        margin-left: 30px;
    }

    main .main-card-area {
        margin: 50px 50px;
    }

    main .col {
        width: 325px;
    }

    .ecoCard-big {
        display: block;
    }

    .ecoCard {
        margin: 10px 45px;
    }

    .ecoCard-p1, .ecoCard-h5, .ecoCard-p2 {
        left: 0;
    }

    .ecoCard-mini {
        display: none;
    }

}

@media (min-width: 1024px) and (max-width: 1440px) {
    main .main-card-area {
        margin: 130px 115px;
    }

    footer {
        height: 1100px;
    }
}